<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="./basketball.js"></scriptsrc></script>
<link rel="stylesheet" href="./style.css">
<body>

<div ng-app="basketball" ng-controller="myCtrl">
    <header><h1>BUCKET LIST</h1></header>
    <div id="balls">
        <h2>BALLS</h2>
    </div>
    <ul>
        <li ng-repeat="ball in balls">
            <div>{{ball}}
                <span ng-click="removeBall($index)">&#10060;</span>
                <span ng-click="moveToDone($index)">&#9989;</span>
            </div>
        </li>
    </ul>
    <input ng-model="addMe">
    <button ng-click="addBall()">Add</button>
    <div id="basket">
        <h2>BALLS IN BASKET</h2>
        <ul>
            <li ng-repeat="ball in basket">
                <div>{{ball}}</div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>